@charset "UTF-8";
#footer *{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Pretendard';
	text-align:center;
	position: relative;
}
#footer li{
	list-style:none;
}
#footer a{
	text-decoration: none;
	display:block;
	color:#000;
}
#footer .line{
	width:100%;
	min-width:1250px;
	position:absolute;
	height:1px;
	background:#f1f1f1;
}
#footer .footer-in{
	padding:10px 80px 60px;
	cursor:pointer;
	margin:0 auto;
	width:970px;
	overflow:hidden;
	position: relative;
}
#footer .footer-in .footer-top{
	display:flex;
	padding: 10px 0 20px 0;
}
#footer .footer-in .footer-top a{
	display:inline-block;
	padding-left:20px;
	font-size:14px;
	font-weight: 300;
}
#footer .footer-in .footer-top a:after{
	content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background: #dadada;
    left: 10px;
    top: 50%;
    margin-top: -7px;
}
#footer .footer-in .footer-top a:first-child {
	padding-left:0;
}
#footer .footer-in .footer-top a:first-child:after{
	display:none;
}
#footer .footer-in .footer-content{

    display: -webkit-box;
}
#footer .footer-in .footer-content p{

	text-align: left;
}
#footer .footer-in .footer-content p:first-child{
	margin-bottom:10px;
	margin-top:20px;
	font-size:15px;
}
#footer .footer-in .footer-content .ftitle{
	font-weight: 600;
}
#footer .footer-in .footer-content .tel{
	color: #BE8D6E;
    font-size: 25px;
    font-weight: 600;
}
#footer .footer-in .footer-content .footer-left,
#footer .footer-in .footer-content .footer-right .footer-right-content{
	margin-right:100px;
}
#footer .footer-in .footer-content .footer-right{
	display: flex;
}
