@charset "UTF-8";
body{
	margin:0;
	padding:0;
}
#header *{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-align:center;
	font-family: 'Pretendard';
}
#header li{
	list-style:none;
}
#header a{
	text-decoration: none;
	display:block;
	color:#000;
}
/*header 시작*/
#header{
	position:relative;
	min-width:1250px;
	margin:0 auto;
}
#header .top-bar{
	width:100%;
	background:#BE8D6E;
	height:35px;
	line-height: 35px;
}
#header .top-bar .point-font{
	font-weight:600;
}
#header .top-bar div a{
	color:#fff;
}
#header .top-bar .bar-close{
	position:absolute;
	right:20px;
	top:10px;
	z-index:9;
}
#header .top-bar .bar-close span{
	width:25px; 
	height:15px;
	float:right;
	cursor: pointer;
	background:url("../img/topClose_btn.png") no-repeat center right;
	background-size: 20px;
}
#header .header-top{
	min-width:1020px;
	margin:0 auto;	
}
/*header-inner 부분*/
#header .header-top .header-inner{
	margin:0 auto;
	position:relative;
	padding: 10px 0;
	height:117px;
}
#header .header-top .header-inner .inner{
	position:relative;
	width: 1250px;
    margin: 0 auto;
}
#header .header-top .header-inner .inner .logo{
	display: inline-block;
}
#header .header-top .header-inner .inner .logo img{
	width: 200px;
	height:auto;
}
#header .header-top .header-inner .inner .inner-right{
	position:absolute;
	top:50%;
	right:0;	
}
#header .header-top .header-inner .inner .inner-right li{
	float:left;
	margin-left:30px;
}
#header .header-top .header-inner .inner .inner-right li a{
	font-size:15px;
	color:#7F7F7F;
}
/*header-bottom 부분*/
#header .header-top .header-bottom{
	border-top:1px solid #D8D8D8;
	min-width:1020px;
	background:#fff;
	width:100%;
	position:relative;
}
#header .header-top .header-bottom .gnb{
	display:flex;
	margin:0 auto;
	height:60px;
	-webkit-box-pack: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    width: 1250px;
    margin: 0 auto;
}
#header .header-top .header-bottom .gnb .gnb-left{
	line-height:60px;
	margin: 0 auto;
    width: 970px;
}
#header .header-top .header-bottom .gnb .gnb-left>ul>li{
	float:left;
	padding:0px 40px;
	margin-left:60px;
	line-height:60px;
	position:relative;
}
#header .header-top .header-bottom .gnb .gnb-left .lnb{
	background:rgba( 255, 255, 255, 0.7);
	position:absolute;
	padding-left:0 !important;
	z-index:7;
	width:100%;
	left:0;
}
#header .header-top .header-bottom .gnb .gnb-left .lnb li{
	border-bottom:1px solid #ccc;
}
#header .header-top .header-bottom .gnb .gnb-left .lnb li a{
	text-align:center;
}
#header .header-top .header-bottom .gnb .gnb-right{
	display:flex;
	margin-top:15px;
}
#header .header-top .header-bottom .gnb .gnb-right .cart, 
#header .header-top .header-bottom .gnb .gnb-right .search{
	width:30px;
	height:30px;
	text-align:center;
	margin-right:20px;
	font-size: 0px;
	border:none;
}
#header .header-top .header-bottom .gnb .gnb-right .cart{
	background:url("../img/shopping-cart.png")center no-repeat;
	background-size:30px;
	border:none;
}
#header .header-top .header-bottom .gnb .gnb-right .cart span{
	position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: -15px 0 0 7px;
    background: #111;
    color: #fff;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    border-radius:50%;
}
#header .header-top .header-bottom .gnb .gnb-right .search-form{
	display:none;
	width: 200px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
  	outline: none;
  	padding-left: 10px;
  	border-bottom:1px solid #000;
}
#header .header-top .header-bottom .gnb .gnb-right .search{
	background:url("../img/search.png")center no-repeat;
	background-size:30px;
}
#header .header-top .header-bottom .gnb .search-view{
	border:1px solid #000;
	position: absolute;
    top: 40px;
    left: 0;
    font-size: 25px;
    width: 100%;
    z-index: 6;
    margin: -540px auto 0;
    outline: none;
    border: 0;
    line-height: 40px;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    padding: 80px 10px 150px 33px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
#header .header-top .header-bottom .gnb .search-view.up{
    margin: 15px 0 15px !important;
    box-shadow: 0 15px 15px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 15px 15px 1px rgba(0,0,0,0.1);
}
#header .header-top .header-bottom .gnb .search-view input[type='text']{
	outline: none;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111111;
    vertical-align: middle;
    width:50%;
    padding:10px;
    border:none;
    border-bottom:2px solid #000;
    position:relative;
}
#header .header-top .header-bottom .gnb .searchP{
	width:30px;
	height:30px;
	text-align:center;
	margin-left:20px;
	font-size: 0px;
	border:none;
	background:url("../img/search.png")center no-repeat;
	background-size:30px;
}
#header .header-top .header-bottom .gnb .search-view .search{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width:30px;
	height:30px;
	text-align:center;
	font-size: 0px;
	border:none;
	background:url("../img/close_btn.png")center no-repeat;
	background-size:30px;	
}
#header .header-top .header-bottom .gnb .search-view input[type='button']{
	position: absolute;
    top: 20px;
    right: 125px;
}
