@charset "UTF-8";
/*mypage-content-orderList*/
html,body{
	font-family: 'Pretendard';
}
.mypage-content *{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Pretendard';
}
a{
	text-decoration: none;
	color:#ccc;
}
li{
	list-style: none;
}
ul{
	margin:0;
	padding:0;
}
.mypage-content .mypage-content-right{
	width:1000px;
}
.mypage-content .mypage-content-right .content-detail{
	display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between
}
.mypage-content .mypage-content-right .mypage-content-line{
	display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.mypage-content .mypage-content-right .content-detail .detail{
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.mypage-content .mypage-content-right .content-detail .detail h2{
	font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}
.mypage-content .mypage-content-left ul li .myleft .st0{fill:rgba(102,102,102);}
/*table*/
.mypage-content-right .right-txt table{
	width:100%;
	margin:0 auto;
	border-collapse: collapse
}
.mypage-content-right .right-txt table tr{
	border-bottom:1px solid #ddd;
}
.mypage-content-right .right-txt table tr:first-child td{
	font-weight:500;
	color:#000;
}
.mypage-content-right .right-txt table tr td{
    text-align: center;
    padding: 15px 10px 15px 30px;
    font-weight: 400;
    vertical-align: center;
    font-size:15px;
    color:#515151;
    cursor:pointer;
}
.mypage-content-right .right-txt table tr .left{
	text-align:left;
}
.mypage-content-right .right-txt table tr td img.fileimg{
	width:16px;
	height:16px;
}