.container{
	min-width: 1300px !important;
	font-family: 'Pretendard';
}
.heading{
	text-align:center;
	margin:40px auto;
	font-size:2rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: white;
    background-color: #BE8D6E;
    border-color: #BE8D6E;
}
.pagination > li > a{
    background-color: white;
    color: #BE8D6E;
}
.pagination > .disabled > a{
    color: #BE8D6E;
    background-color: white;
}
.pagination > .active > a{
    color: white;
    background-color: #BE8D6E;
    border-color: #BE8D6E;
}
.pagination > .active > a:hover{
    background-color: #9E6D4E;
}

.card img, .card-title, .card-text{
	cursor:pointer;
}

.search-view{
	border:1px solid #000;
	position: relative;
    font-size: 25px;
    width: 100%;
    outline: none;
    border: 0;
    line-height: 40px;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

.search-view input[type='text']{
	outline: none;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111111;
    vertical-align: middle;
    width:50%;
    padding:10px;
    border:none;
    border-bottom:2px solid #000;
    position:relative;
}
.searchP{
	width:30px;
	height:30px;
	text-align:center;
	margin-left:20px;
	font-size: 0px;
	border:none;
	background:url("../img/search.png")center no-repeat;
	background-size:30px;
}
.d4d4{
	height:450px;
}