@charset "UTF-8";
#review-wrap *{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Pretendard';
}
li{
	list-style:none;
}
a{
	text-decoration: none;
	color: #333;
	display:block;
}
#review-wrap{
	width:1250px;
	margin:0 auto;
	margin-top:80px;
	min-width:1250px;
	min-height: 100%;
    position: relative;
    height:auto;
    padding-bottom:100px;
}
#review-wrap .review-title{
	text-align: center;
	font-size: 30px;
    color: #222;
	letter-spacing: 0.08em;
	 margin-bottom: 50px;
}
#review-wrap .review-content .reviewTitle{
	text-align: left;
    line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 25px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
}
#review-wrap .review-top{
	padding-bottom: 20px;
}
#review-wrap .review-top .reviewTotCnt{
	font-size:18px;
	font-weight:600;
	color:#333;
}
#review-wrap .review-top .reviewTotCnt b{
	color:#f46163;
}
#review-wrap .review-content table{
	width:100%;
	margin:0 auto;
	border-collapse: collapse;
}
#review-wrap .review-content tr{
	overflow:hidden;
	float:left;
}
#review-wrap .review-content td{
	width:290px;
	float:left;
	text-align:left;
	height:100%;
	border:1px solid #ddd;
	border-radius:5px;
	margin-left:20px;
	margin-top:20px;
}
#review-wrap .review-content .review_view .reviewImage{
	border-radius: 5px;
	height:260px;
}
#review-wrap .review-content .review_view .reviewImage img{
	width:100%;
	height:260px;
	border-radius: 5px;
	object-fit: cover;
}

#review-wrap .review-content .review_view .review-txt{
	padding:12px;
}
#review-wrap .review-content .review_view .reviewTitle{
	margin-top:10px;
	margin-bottom:10px;
}
#review-wrap .review-content .review_view .reviewContent{
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 30px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;	
}
#review-wrap .review-content .review_view .reviewName{
	margin-bottom: 5px;
}
#review-wrap .review-content .review_view .product{
	display:flex;
}
#review-wrap .review-content .review_view .product .productimg img{
	width:50px;
	height:50px;
	object-fit: cover;
}
#review-wrap .review-content .review_view .product .productName{
	vertical-align: baseline;
    line-height: 50px;
    margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
}	

/*페이징 시작*/
#review-wrap .review-content .paging{
	text-align: center;
    margin-top: 50px;
}
#review-wrap .review-content .paging a{
	display:inline-block;
	width:40px;
	height:40px;
	font-size:16px;
	color:#333;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	vertical-align: middle;
}
#review-wrap .review-content .paging .currentpage span{
	margin:0 3px;
	color:#fff;
	background:#333;
	border-radius: 100%;
}
#review-wrap .review-content .paging a.move{
	font-size:13px;
}
#review-wrap .review-content .paging a.first{
	background: url(../img/first.png)center/ auto 12px no-repeat;
	margin:0 3px;
	border:1px solid #ccc;
	border-radius: 100%;
	/*text-indent: -9999em;*/
}
#review-wrap .review-content .paging a.prev{
	background: url(../img/prev.png)center/ auto 12px no-repeat;
	margin:0 25px 0 3px;
	border:1px solid #ccc;
	border-radius: 100%;
}
#review-wrap .review-content .paging a.next{
	background: url(../img/next.png)center/ auto 12px no-repeat;
	margin:0 3px 0 25px;
	border:1px solid #ccc;
	border-radius: 100%;
}
#review-wrap .review-content .paging a.last{
	background: url(../img/last.png)center/ auto 12px no-repeat;
	margin:0 3px;
	border:1px solid #ccc;
	border-radius: 100%;
}
#review-wrap .review-content .paging a.now{
	margin:0 3px;
	color:#fff;
	background:#333;
	border-radius: 100%;
}
#review-wrap .write-btn{
	text-align: right;
	cursor:pointer;
}
#review-wrap .write-btn button{
    width: 10%;
    height: 55px;
    border-radius: 5px;
    border: 0px none;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}